# Week 2 Assignment

[<img src="./assets/nbx.jpeg" alt="NimbleBox.ai logo" width="600"/>](https://www.nimblebox.ai)

In this Assignmnet you are going to work on dataset of heart patients and your first task will be to load the dataset and decide if the problem is a classification or a regression problem.

In [19]:
import pandas as pd

# Load the dataset
data = pd.read_csv("assets/data.csv")

# Use head() function from pandas to look at the dataset and
# decide if it is a regression or a classification problem

More Information about the dataset 

1. age
2. sex
3. chest pain type (4 values)
4. resting blood pressure
5. serum cholestoral in mg/dl
6. fasting blood sugar > 120 mg/dl
7. resting electrocardiographic results (values 0,1,2)
8. maximum heart rate achieved
9. exercise induced angina
10. oldpeak = ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels (0-3) colored by flourosopy
13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

Write your answer below if you think the right answer is regression or classification, Do check your spelling.

# Send the option for grading

In [ ]:
# Do not delete
answer = <your answer here as a string>

Now you are going to split the data for training into trainX(features) and trainY(target) you can look at the data and see that there is a column named "target" that will be your target vector which is trainY and everything else will be trainX, you can use the function iloc() from pandas to split the data between features and target after that you import the LogisticRegression model from sklearn and train it for 1000 iterations

In [ ]:
# Pandas was already imported in the above cells
# use the iloc() function from pandas to split data
# in trainX and trainY and then use trainX and trainY
# to train your LogisticRegression model. 
trainX = 
trainY = 

# Import the LogisticRegression model
from sklearn.linear_model import <import the model here>

# Create the logisticRegression object with
# max_iter = 1000 and random_state = 0
log_reg = 

# Train the model

# Send the pickled model for grading and return the accuracy back

In [ ]:
# Do not delete
import pickle 

log_model = pickle.dump(log_reg)

Now you are going to use decision trees to classify the same data and see how your accuracy changes and which model is a better model, You should use the same trainX and trainY to train this model and you will use the gini impurity for classification and model building.

In [ ]:
# Import the DecisionTreeClassifier
from sklearn.tree import <import the model here>

# Create a DecisionTreeClassifier object with 
# criterion = "gini"
clf = 

# Train the model

# Send the pickled model for grading and return the accuracy back

In [ ]:
# Do not delete
clf_model = pickle.dump(clf)

For the last assignment we are going to use Kmeans clustering to cluster the brand/make of cars and you have to clean the data where there are null values.

path to the file is __"assets/cars.csv"__

In [73]:
import numpy as np

# Load the data using pandas
cars_data = pd.read_csv("assets/cars.csv")

# call info() on cars_data to check the Dtype
# You are going to notice that some of the Dtypes 
# are objects and you can't pass objects types to 
# sklearn and that's you need to convert them to the
# correct type or change the values and then convert the type
<Your call to info() on cars_data here>

In [72]:
# As you can see that cubicinches, weightlbs are of object
# types But when you call cars_data.head() you can see that 
# they are actually just integers
cars_data.head()

    mpg  cylinders  cubicinches   hp weightlbs  time_to_60  year   brand
0  14.0          8          350  165      4209          12  1972      US
1  31.9          4           89   71      1925          14  1980  Europe
2  17.0          8          302  140      3449          11  1971      US
3  15.0          8          400  150      3761          10  1971      US
4  30.5          4           98   63      2051          17  1978      US

In [ ]:
# Converting empty cells to NaN values so those rows are easier to remove
cars_data = cars_data.replace(" ", np.nan)

# Dropping rows with NaN values 
cars_data = cars_data.drop((np.where(pd.isnull(cars_data)))[0])

# Convert cubicinches to numeric type
cars_data.cubicinches = cars_data.cubicinches.astype('int')

# Do the same for weightlbs and convert that numeric type
cars_data.weightlbs = 

# By looking at the brand we see that there are only 3 unique brand 
# and so we will try to classify the data in 3 clusters there are multiple 
# ways to find how many number of clusters will be best, one such is
# the elbow method but here we justwant to classify the data
# in 3 brands and that's why we are taking 3 clusters
print("\nUnique brands: " + str(cars_data.brand.unique()))

# select the complete data except the last column
# that is the brand column for clustering using iloc
Xkmeans = 

# Import the KMeans model from sklearn 
from sklearn.cluster import <import the model here>

# Create a KMeans object and assign n_clusters = 3, init = "k-means++",
# max_iter = 300, n_init = 10, random_state = 0
kmeans = 

Ykmeans = kmeans.fit_predict(Xkmeans)

# Check the centroids by sending YKmeans to graders